<!DOCTYPE html>
<html>
  <head>
    <title>DndApp</title>
    <%= csrf_meta_tags %>

<<<<<<< HEAD
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
=======
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
>>>>>>> 33fd95e368d6f8133a8f3dd6cd73f0f6c21ec552
  </head>

  <body>
    <%= yield %>
  </body>
</html>
